<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="styles/index.css">
    <title>ExpressNET</title>
</head>
<body>
    <div class="title">
        Express.NET
    </div>

    <div class="boxes">
        <div class="inner-boxes">
            <div class="box">
                <div class="box-title">
                    Fast
                </div>
                <div class="box-desc">
                    Build a light server without giving up the language you love.
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    Easy
                </div>
                <div class="box-desc">
                    You can avoid unnecessary clutter and set up a lightweight server for your projects.
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    No-Depency
                </div>
                <div class="box-desc">
                    The library has no additional libraries other than the default ('System') library and works on all platforms.
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        By <a href="https://github.com/GroophyLifefor">Groophy Lifefor</a> as <a href="https://www.linkedin.com/in/groophylifefor/">Murat Kirazkaya</a>
    </div>
</body>
</html>